[defaults]
# Define o arquivo de inventário padrão (pode ser .yml ou .ini)
inventory = ./inventory.yml

# Desabilita a verificação de chaves SSH (útil para servidores novos/provisórios)
host_key_checking = False

# Local onde o log da automação será salvo para debug
log_path = ./ansible.log

# Otimização para conexões SSH persistentes
pipelining = True
